<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <head
	th:replace="fragments/general.html :: common_header(~{::title},~{::link})"> -->
<head
	th:replace="fragments/general.html :: common_header(~{::title},~{})">
<title>TMS - Update Course</title>
</head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class=" page-container">
		<th:block th:replace="fragments/general.html :: sidebar"></th:block>
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<th:block
				th:replace="fragments/general.html :: navigation-horizontal"></th:block>
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">

				<div class="row">
					<div class="col-md-12">
						<form th:action="@{/staff/course_category/update}" id="jvalidate1"
							class="form-horizontal" th:object="${courseCategoryForm}" method="post">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<strong>Sửa thông tin thể loại khóa học</strong>
									</h3>
									<ul class="panel-controls">
										<li><a href="#" class="panel-collapse"><span
												class="fa fa-angle-down"></span></a></li>
										<li><a href="#" class="panel-refresh"><span
												class="fas fa-sync"></span></a></li>
										<li><a href="#" class="panel-remove"><span
												class="fa fa-times"></span></a></li>
									</ul>
								</div>
								<div class="panel-body">


									<div class="form-group">
										<label class="col-md-3 col-xs-12 control-label">ID</label>
										<div class="col-md-6 col-xs-12">
											<div class="input-group">
												<span class="input-group-addon"><span
													class="fa fa-pencil"></span></span> <input type="text"
													th:field="*{Id}" class="form-control" readonly />
											</div>
											<label id="id-error" class="form-text text-danger"
												style="display: none"></label>

											<!-- <span class="help-block" th:if="${#fields.hasErrors('Id')}"
												th:errors="*{Id}">This is sample of text field</span> -->
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 col-xs-12 control-label">Tên
											thể loại khóa học</label>
										<div class="col-md-6 col-xs-12">
											<div class="input-group">
												<span class="input-group-addon"><span
													class="fa fa-pencil"></span></span> <input type="text"
													th:field="*{name}" class="form-control" />
											</div>
											<label id="name-error" class="form-text text-danger"
												for="userName" th:if="${#fields.hasErrors('name')}"
												th:errors="*{name}">This field is required.</label> <label
												id="name-error" class="form-text text-danger"
												style="display: none"></label>
										</div>
									</div>

								</div>
								<div class="panel-footer">
									<button class="btn btn-default">
										<i class="fal fa-redo"></i> Reset field
									</button>
									<button class="btn btn-default" type="button"
										onclick="location.href='/staff/course_category/list'">
										<i class="fal fa-arrow-left"></i> Quay lại
									</button>
									<button class="btn btn-primary pull-right">
										<i class="fal fa-level-up"></i> Gửi
									</button>
								</div>

							</div>
						</form>

					</div>
					<!--col 12-->
				</div>
			</div>
			<!-- END PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->
	<th:block th:replace="fragments/general.html :: logout"></th:block>
	<th:block
		th:replace="fragments/general.html :: common_plugins(~{::script})">
		<!-- START THIS PAGE PLUGINS-->
		<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'
			th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
		<script type='text/javascript'
			src='js/plugins/bootstrap/bootstrap-select.js'
			th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
		<script type="text/javascript"
			src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"
			th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
		<!-- END THIS PAGE PLUGINS -->
		<script type='text/javascript'
			src='js/plugins/jquery-validation/jquery.validate.js'
			th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
		<script type="text/javascript"
			src="js/plugins/bootstrap/bootstrap-datepicker.js"
			th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>
		<script type="text/javascript"
			src="js/plugins/summernote/summernote.js"
			th:src="@{/js/plugins/summernote/summernote.js}"></script>
		<script type="text/javascript">
			$.validator.addMethod("australianDate", function(value, element) {
				// put your own logic here, this is just a (crappy) example
				return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
			}, "Please enter a date in the format dd/mm/yyyy.");
			$.validator
					.setDefaults({
						highlight : function(element) {
							$(element).closest('.input-group').addClass(
									'has-error');
						},
						unhighlight : function(element) {
							$(element).closest('.input-group').removeClass(
									'has-error');
						},
						errorElement : 'label',
						errorClass : 'form-text text-danger',
						errorPlacement : function(error, element) {
							if (element.parent('.input-group').length) {
								error.insertAfter(element.parent());
							} else {
								error.insertAfter(element);
							}
						}
					});

			$("#jvalidate1").validate(
					{
						ignore : ".ignore *",
						submitHandler : function(form) {
							$.ajax({
								type : $(form).attr('method'),
								url : $(form).attr('action'),
								data : $(form).serialize(),

								success : function(res) {

									if (res.validated) {
										toastr["success"](
												"Cập nhật thành công!",
												"Thông báo")
									} else {
										//Set error messages
										toastr["error"]("Có lỗi xảy ra ???",
												"Thông báo")
										$.each(res.errorMessages, function(key,
												value) {

											$("#" + key + "-error").text("");
											/*  console.log('<span class="error">'+key +' - '+value+'</span>'); */
											$("#" + key + "-error").text(value)
													.show(); // div.foo elements that contain <p> tags

										});
									}

								}

							});
							return false;
						},
						rules : {
							name : {
								required : true,
								minlength : 1,
								maxlength : 20
							}
						},

						invalidHandler : function(form, validator) {
							toastr["error"]("Có lỗi xảy ra ???", "Thông báo")
						}
					});
			$.extend($.validator.messages, {
				required : "Hãy nhập.",
				remote : "Hãy sửa cho đúng.",
				email : "Hãy nhập email.",
				url : "Hãy nhập URL.",
				date : "Hãy nhập ngày.",
				dateISO : "Hãy nhập ngày (ISO).",
				number : "Hãy nhập số.",
				digits : "Hãy nhập chữ số.",
				creditcard : "Hãy nhập số thẻ tín dụng.",
				equalTo : "Hãy nhập thêm lần nữa.",
				extension : "Phần mở rộng không đúng.",
				maxlength : $.validator
						.format("Hãy nhập từ {0} kí tự trở xuống."),
				minlength : $.validator
						.format("Hãy nhập từ {0} kí tự trở lên."),
				rangelength : $.validator
						.format("Hãy nhập từ {0} đến {1} kí tự."),
				range : $.validator.format("Hãy nhập từ {0} đến {1}."),
				max : $.validator.format("Hãy nhập từ {0} trở xuống."),
				min : $.validator.format("Hãy nhập từ {0} trở lên.")
			});
		</script>

	</th:block>
</body>
</html>