<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <head
	th:replace="fragments/general.html :: common_header(~{::title},~{::link})"> -->
<head
	th:replace="fragments/general.html :: common_header(~{::title},~{::link})">
<title>TMS - List Course</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/scroller/1.4.3/css/scroller.dataTables.min.css" th:href="@{/css/scroller.dataTables.min.css}" />
</head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class=" page-container">
		<th:block th:replace="fragments/general.html :: sidebar"></th:block>
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<th:block
				th:replace="fragments/general.html :: navigation-horizontal"></th:block>
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">

				<div class="row">
					<div class="col-md-12">
						<!-- START DEFAULT DATATABLE -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Danh sách thông tin khóa học</strong>
								</h3>
								<ul class="panel-controls">
									<li><a href="#" class="panel-collapse"><span
											class="fa fa-angle-down"></span></a></li>
									<li><a href="#" class="panel-refresh"><span
											class="fas fa-sync"></span></a></li>
									<li><a href="#" class="panel-remove"><span
											class="fa fa-times"></span></a></li>
								</ul>

							</div>
							<div class="panel-body">
								<div class="table-responsive">


									<table id="courses" class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>Tên khóa học</th>
												<th>Ngày bắt đầu</th>
												<th>Thao tác</th>
											</tr>
										</thead>
									</table>
								</div>

							</div>
							<div class="panel-footer">
								<button class="btn btn-default">
									<i class="fal fa-arrow-left"></i> Quay lại
								</button>
							</div>
						</div>
						<!-- END DEFAULT DATATABLE -->


					</div>
				</div>

			</div>
			<!-- PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->
	
	
	<div class="modal" id="modal_large" tabindex="-1" role="dialog"
		aria-labelledby="largeModalHead" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="largeModalHead">Thêm học viên vào
						khóa học</h4>
				</div>
				<!-- <form th:action="@{/staff/add_trainer_into_a_topic}" method="post" th:object="${topicForm}">
					<div class="modal-body">
						<select id="selectbox1" class="form-control " th:field="*{trainer}">
							<option value="">Chọn giảng viên</option>
							<option th:each="t : ${trainers}" th:value="${t.id}"
								th:text="${t.userName+' - '+ t.firstName +' ' + t.lastName}"></option>
						</select>
					</div>

					<input type="hidden" name="id" th:field="*{id}"/>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
						<button type="submit" class="btn btn-default">Gửi</button>
					</div>
				</form> -->
<div class="modal-body">
				<div class="row">

					<div class="col-md-12">
						<form id="add_course_category_into_course" th:action="@{/staff/add_course_category_into_course}" method="post" th:object="${addCourseCategoryIntoCourseDTO}">
							<div class="col-md-6">
								<select th:field="*{courseCategoryIDs}" id="selectBox" multiple
									class="form-control select">
                         <option th:each="courseCategory : ${courseCategories}"
                            th:value="${courseCategory.id}"
                            th:utext="${courseCategory.name}"/>
								</select>
							</div>
							<input type="hidden" th:field="*{courseID}" name="courseID"/>
							<div class="col-md-6">
								<button type="submit" class="btn btn-danger">Thêm thể loại khóa học</button>
							</div>
						</form>

					</div>
				</div>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>

			</div>
		</div>
	</div>


	<th:block th:replace="fragments/general.html :: logout"></th:block>
	<th:block
		th:replace="fragments/general.html :: common_plugins(~{::script})">
		<!-- START THIS PAGE PLUGINS-->
		<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'
			th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
		<script type="text/javascript"
			src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"
			th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
		<!-- END THIS PAGE PLUGINS -->

		<script type="text/javascript"
			src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/scroller/1.4.3/js/dataTables.scroller.min.js" th:src="@{/js/dataTables.scroller.min.js}"></script>
		<script type='text/javascript'
			src='js/plugins/bootstrap/bootstrap-select.js'
			th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
		<script type="text/javascript" src="js/jquery.spring-friendly.js"
			th:src="@{/js/jquery.spring-friendly.js}"></script>
		<script>
		

		$(function() {
			
		
			 $('#add_course_category_into_course').submit(function() {
				$.ajax({
					type :  $('#add_course_category_into_course').attr('method'),
					url :  $('#add_course_category_into_course').attr('action'),
					data :  $('#add_course_category_into_course').serialize(),
					success : function(data) {
						
						rerender();
						toastr["success"]("Sửa thành công!",
						"Thông báo")
					}
				});
				
				return false;
			});
		});
		var courseID = 0;
		
			$('#modal_large').on(
					'show.bs.modal',
					function(e) {	
						courseID = $(e.relatedTarget).data('course-id');
						$(e.currentTarget).find('input[name="courseID"]').val(courseID);
						$('#selectBox option:selected').prop("selected", false);
						$('#selectBox').selectpicker('refresh');
						rerender();
					});
			
			
			var rerender = function() {
				
				$.ajax({
					type : "GET",
					url : "/staff/rest/find_course_category_in_a_course/"
							+ courseID/* $('#add_trainee_into_a_course').find('input[name="courseID"]').val() */,
					async : true,
					success : function(response) {

						if (response) {
							response.forEach(function(item) {
								   $("#selectBox option[value='" + item.id + "']").prop("selected", true);
							});
							$('#selectBox').selectpicker('refresh');
						}
						return response;
					},
					error : function() {
						alert('Error occured');
					}
				});
			}

			var table = $('table#courses')
					.DataTable(
							{
								ajax : '/staff/course/courses',
								serverSide : true,
								scrollY : 500,
								deferRender : true,
								scroller : true,
								columns : [
										{
											data : 'id'
										},
										{
											data : 'name'
										},
										{
											data : 'startDate'
										},
										{
											data : 'id',
											render : function(data) {
												return '<td> <button type="button"  data-toggle="modal" data-target="#modal_large" data-course-id="'+data+'" class="btn btn-default btn-rounded btn-condensed btn-sm"><i class="fal fa-edit fa-2x"></i></button></td>';
											}
										} ]
							});

		</script>
	</th:block>

</body>
</html>
