<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <head
	th:replace="fragments/general.html :: common_header(~{::title},~{::link})"> -->
<head
	th:replace="fragments/general.html :: common_header(~{::title},~{::link})">
<title>TMS - List Trainee</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/scroller/1.4.3/css/scroller.dataTables.min.css" />
</head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class=" page-container">
		<th:block th:replace="fragments/general.html :: sidebar"></th:block>
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<th:block
				th:replace="fragments/general.html :: navigation-horizontal"></th:block>
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">

				<div class="row">
					<div class="col-md-12">
						<!-- <div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Filter</strong>
								</h3>
								<ul class="panel-controls">
									<li><a href="#" class="panel-collapse"><span
											class="fa fa-angle-down"></span></a></li>
									<li><a href="#" class="panel-remove"><span
											class="fa fa-times"></span></a></li>
								</ul>

							</div>
							<div class="panel-body">
								<div class="col-md-2">
									<label>Ngôn ngữ lập trình chính</label> <select
										class="form-control " id="programmingLanguageSelector"
										multiple="multiple">
										<option th:each="p : ${programmingLanguages}"
											th:value="${p.id}" th:text="${p.name}"></option>

										<option value="">NULL</option>
									</select>
								</div>
								<div class="form-group col-md-2">
									<label>Điểm toeic</label> <input type="number" min="10"
										max="990" class="form-control" id="minScoreOfToeic"
										placeholder="From"> <input type="number" min="10"
										max="990" class="form-control" id="maxScoreOfToeic"
										placeholder="To">
								</div>
							</div>

						</div> -->
						<!-- START DEFAULT DATATABLE -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Danh sách thông tin các topic</strong>
								</h3>
								<ul class="panel-controls">
									<li><a href="#" class="panel-collapse"><span
											class="fa fa-angle-down"></span></a></li>
									<li><a href="#" class="panel-refresh"><span
											class="fas fa-sync"></span></a></li>
									<li><a href="#" class="panel-remove"><span
											class="fa fa-times"></span></a></li>
								</ul>

							</div>
							<div class="panel-body">
								<div class="table-responsive">

									<div class="row">
										<div class="col-md-6"></div>
									</div>
									<table id="trainees" class="table">
										<thead>
											<tr>
												<th>Tên khóa học</th>
												<th>Tên topic</th>
												<th>Ngày bắt đầu</th>
												<th>Số tuần</th>
												<th>Giảng viên</th>
												<th>Thao tác</th>
											</tr>
										</thead>
									</table>
								</div>

							</div>
							<div class="panel-footer">
								<button class="btn btn-default">
									<i class="fal fa-arrow-left"></i> Quay lại
								</button>
							</div>
						</div>
						<!-- END DEFAULT DATATABLE -->


					</div>
				</div>

			</div>
			<!-- PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>



	<div class="modal" id="modal_large" tabindex="-1" role="dialog"
		aria-labelledby="largeModalHead" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="largeModalHead">Phân công giảng
						viên dạy topic</h4>
				</div>
				<form id="add_trainer_into_a_topic" th:action="@{/staff/add_trainer_into_a_topic}" method="post" th:object="${topicForm}">
					<div class="modal-body">
						<select id="selectbox1" class="form-control " th:field="*{trainer}">
							<option value="">Chọn giảng viên</option>
							<option th:each="t : ${trainers}" th:value="${t.id}"
								th:text="${t.userName+' - '+ t.firstName +' ' + t.lastName}"></option>
						</select>
					</div>

					<input type="hidden" name="id" th:field="*{id}"/>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
						<button type="submit" class="btn btn-default">Gửi</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
	<th:block th:replace="fragments/general.html :: logout"></th:block>
	<th:block
		th:replace="fragments/general.html :: common_plugins(~{::script})">
		<!-- START THIS PAGE PLUGINS-->
		<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'
			th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
		<!-- <script type="text/javascript"
			src="js/plugins/datatables/jquery.dataTables.min.js"
			th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>  -->
		<script type="text/javascript"
			src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"
			th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
		<!-- END THIS PAGE PLUGINS -->

		<script type="text/javascript"
			src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/scroller/1.4.3/js/dataTables.scroller.min.js"></script>
		<script type='text/javascript'
			src='js/plugins/bootstrap/bootstrap-select.js'
			th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
		<script type="text/javascript" src="js/jquery.spring-friendly.js"
			th:src="@{/js/jquery.spring-friendly.js}"></script>
		<script>
		
		
		
			$(function() {
				var frm = $('#add_trainer_into_a_topic');
				frm.submit(function(ev) {
					$.ajax({
						type : frm.attr('method'),
						url : frm.attr('action'),
						data : frm.serialize(),
						success : function(data) {
							$(
							'table#trainees')
							.DataTable().ajax
							.reload();
						}
					});
					ev.preventDefault();
				});
			});
			$('#modal_large').on('show.bs.modal', function(e) {
			
				//get data-id attribute of the clicked element
				var topicID = $(e.relatedTarget).data('topic-id');
			
				//populate the textbox
				$(e.currentTarget).find('input[name="id"]').val(topicID);
			});
			var t_trainer = {};
			var table = $('table#trainees')
					.DataTable(
							{
								ajax : '/staff/topic/topics',
								serverSide : true,
								scrollY : 500,
								deferRender : true,
								scroller : true,
								columns : [
										{
											data : 'course.name',
											render : function(data) {
												return data ? data : '-';
											}
										},
										{
											data : 'name'
										},
										{
											data : 'startDate'
										},
										{
											data : 'duration'
										},
										{
											data : 'trainer',
											searchable : false,
											render : function(data) {
												/* var mess = '<select><option th:each="t : ${trainers}" th:value="${p.id}" th:text="${p.name}"></option></select>';
												
												 */
												return data ? data.firstName
														: 'chưa có';
												/* return mess; */
											}
										},
										{
											data : 'id',
											render : function(data) {
												return '<td> <button type="button"  data-toggle="modal" data-target="#modal_large" data-topic-id="'+data+'" class="btn btn-default btn-rounded btn-condensed btn-sm"><i class="fal fa-user-plus fa-2x"></i></button></td>';
											}
										} ]
							});
			 $('#trainees tbody').on( 'click', 'button', function () {
			        var data = table.row( $(this).parents('tr') ).data();
			        if(data.trainer)
			        $('#selectbox1 option[value="'+data.trainer.id+'"]').prop('selected', true);
			        else
			        	 $('#selectbox1 option[value=""]').prop('selected', true);

			    } );
			function deleteData(id) {
				toastr
						.warning(
								"<div>Are you sure you want to delete this?</div>"
										+ "<div class='btn-group pull-right'>"
										+ "<button type='button' id='confirmationYes' class='btn btn-xs btn-default'><i class='fas fa-thumbs-up'></i> Yes</button>"
										+ "<button type='button' class='btn btn-xs btn-default clear'><i class='fas fa-trash-alt'></i> No</button>"
										+ "</div>",
								"Delete Confirmation",
								{
									allowHtml : true,
									closeButton : true,
									onShown : function() {
										$("#confirmationYes")
												.click(
														function() {
															$
																	.ajax({
																		type : "DELETE",
																		url : "/staff/trainee/delete/"
																				+ id,
																		success : function(
																				data) {
																			if (data.validated) {
																				$(
																						'table#trainees')
																						.DataTable().ajax
																						.reload();
																				toastr
																						.success(
																								data.message,
																								"Delete Confirmation",
																								{
																									closeButton : true
																								});
																			}
																		}
																	});
														});
									}
								});
			}

			$('select#programmingLanguageSelector').change(
					function() {
						var filter = ' +'; // khởi tạo cái ảo ở đây trước để nó về dạng in ( )
						$('select#programmingLanguageSelector option:selected')
								.each(function() {
									console.log(filter);
									filter += $(this).text() + "+";
									/* filter += ' ' + "+"; */
								});
						filter = filter.substring(0, filter.length - 1);
						console.log(filter);
						table.column(4).search(filter).draw();
					});

			var minScoreOfToeicInput = $('input#minScoreOfToeic');
			var maxScoreOfToeicInput = $('input#maxScoreOfToeic');

			var onBoundChange = function() {
				console.log(minScoreOfToeicInput.val() + ';'
						+ maxScoreOfToeicInput.val())
				table.column(5).search(
						minScoreOfToeicInput.val() + ';'
								+ maxScoreOfToeicInput.val()).draw();
			};

			minScoreOfToeicInput.on('input', onBoundChange);
			maxScoreOfToeicInput.on('input', onBoundChange);
		</script>
	</th:block>

</body>
</html>